.bg {
    height:100%;
    width: 100%;
	min-height:90vh;
    background: url("../../assets/background.jpg");
    background-size:cover;
    background-position:center;
    position: fixed;
}

@media screen and (max-width: 1024px){
    img.bg {
    left: 50%;
    margin-left: -512px; }
}

